<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Magazynowy - Lista produktów </title>
</head>
<body>
    <h1>Lista produktów</h1>
   
    <form method="GET" action="" class="mb-3 d-flex">
    <input type="text" name="q" class="form-control me-2" placeholder="Szukaj produktu po nazwie..." value="{{ query|default_if_none:'' }}">
    <button type="submit" class="btn btn-outline-primary">Szukaj</button>
    </form>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Kod SKU</th>
                <th>Opis produktu</th>
                <th>Stan magazynowy</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.description }}</td> 
                <td>
                    {% if product.current_stock >= 5 %}
                        <span style="color: green; font-weight: bold;">{{product.current_stock}} szt. </span>
                    {% else %}
                        <span style="color: red; font-weight: bold;">{{product.current_stock}} szt. </span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nie zarejestrowano jeszcze żadnych produktów.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
 <p><a href="/movements/">Historia ruchów magazynowych</a></p>
    <p><a href="/products/add/">Dodaj produkt</a></p>
</html>