<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Magazynowy - Historia ruchów magazynowych</title>
</head>
<body>
    <h1>Historia ruchów magazynowych</h1>

    <form method="GET" action="" class="mb-3 d-flex">
        <label style="margin-left: 10px;">Od:</label>
        <input type="date" name="start_date" value="{{ start_date }}">
        <label style="margin-left: 10px;">Do:</label>
        <input type="date" name="end_date" value="{{ end_date }}">
         <button type="submit" style="margin-left: 10px; background-color: #007bff; color: white; border: none; padding: 6px 12px; border-radius: 4px; cursor: pointer;">
        Filtruj
    </button>
    <a href="{% url 'stock_movement_list' %}" style="margin-left: 5px; background-color: #6c757d; color: white; text-decoration: none; padding: 6px 12px; border-radius: 4px; display: inline-block;">
        Resetuj
    </a>
    {% if error_message %}
    <div class="alert alert-danger" role="alert" style="margin-top: 15px; margin-bottom: 15px;">
        {{ error_message }}
    </div>
{% endif %}
    </form>
   
    <br>
    

    <table border="1">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Typ operacji</th>
                <th>Ilość</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for movement in movements %}
            <tr>
                <td>{{ movement.product.name }}</td> 
                <td>
                    {% if movement.movement_type == 'IN'%}
                        <span style="color: green; font-weight: bold;">DOSTAWA</span>
                    {% else %}
                        <span style="color: red; font-weight: bold;">WYDANIE</span>
                    {% endif %}
                </td>
                <td>{{ movement.quantity }} szt.</td>
                <td>{{ movement.created_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nie zarejestrowano jeszcze żadnych ruchów magazynowych.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
    <p><a href="/products/">← Powrót do listy produktów</a></p>
    <p><a href="/movements/add">Edytuj ruchy magazynowe</a></p>

</html>